html,button,input,select,textarea{
	color:white;
	
}
html{
	font-size:1em;
	line-height:1.4;
}
header{
	display: block;
	border:  black solid 5px;
	padding: 10px;
}

body{
	background: #DEB887;
	max-width:900px;
	min-width:320px;
	margin-left:auto;
	margin-right:auto;
}

#wrapper{
	
	background:#F5F5DC;
	color: black;
	padding: 10px;	
}
#corps{
	padding: 10px;
}
header img {
	  border: 1px solid #ccc;
	  border-radius:3px 3px 3px 3px;
	  background:white;
	  box-shadow: 0px 2px 4px rgba(0,0,0,2);
	  float:right;	
}
h1{
	font-family: sofia, fantasy;

}
h3,dt{
	color: black;
}
p,dd{
	font-family: muli, sans-serif;
}


.more{
	display: none;
	padding: 10px;
	color: 	#696969;
}